In [3]:
import pandas as pd
s1 = pd.Series([10,20,30,40,50])

print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s2_data = {'a': 1, 'b': 2, 'c': 3, 'd': 4,'e': 5}
s2 = pd.Series(s2_data)

print(type(s2))
print(s2)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
s3_data = {'학생1': "둘리", '학생2': "또치", '학생3': "도우너", '학생4': "희동이",'학생5': "마이콜"}
s3 = pd.Series(s3_data)

print(type(s3))
print(s3)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [81]:
list_data = ["둘리", "또치", "도우너", "희동이","마이콜"]
s4 = pd.Series(list_data, index=['학생1','학생2','학생3','학생4','학생5'])

print(type(s4))
print(s4)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [98]:
blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)

print("[시리즈 sr출력]")
print(sr)


print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자 인덱스 사용)]")
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1 :4])


print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름 인덱스 사용)]")
print(sr["A형"])
print(sr["AB형"])
print(sr["B형"])
print(sr["B형" : "AB형"])


print("[시리즈 sr의 크기 출력]")
print(len(sr.index))


print("[시리즈 sr의 인덱스 출력]")
print(sr.index)


print("[시리즈 sr의 데이터 값 출력]")
print(sr.values)

[시리즈 sr출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자 인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름 인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [99]:
exam_data = {'name':["둘리","또치","도우너","희동이"],'kor' : [ 90,80,70,70], 'eng' : [99,98,97,46],'mat' : [ 90,70,70,60]}
df1 = pd.DataFrame(exam_data)
print(type(df1))
print(df1)

<class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [100]:
df2 = pd.DataFrame(exam_data, index=['학생1', '학생2', '학생3','학생4'])
print(type(df2))
print(df2)

<class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [101]:
df3 = df2.copy()

df3.index=['st1', 'st2','st3','st4']
df3.columns=['dooly', 'doochi', 'dounar','heedong']

print(df3)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [121]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', 
           '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)


# 앞에서 다섯 행만 출력한다.
position1 = df.iloc[0:5]
print(position1)

print(df.head(5))

# 뒤에서 다섯 행만 출력한다.
position2 = df.iloc[6:1:-1]
print(position2)

print(df.tail(5))

# 컬럼명들을 출력한다.
print(df.columns)

# name 컬럼만 출력한다.(추출시 [] 사용)
name = df['name']
print(name)

# eng 컬럼만 출력한다.(추출시 . 사용)
eng = df.eng
print(eng)

# kor과 mat 컬럼만 출력한다.
kornmat = df[['kor', 'mat']]
print(kornmat)

print("-------------iloc 사용--------------")
# iloc 인덱서를 사용하여 네 번째 행을 출력한다.
il1 = df.iloc[3]
print(il1)

# iloc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다.
il2 = df.iloc[0, 0]
print(il2)

# iloc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다.
il3 = df.iloc[3, 2]
print(il3)

# iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다.
il4 = df.iloc[2:4, 2]
print(il4)

# iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다.
il5 = df.iloc[2:4, 2:4]
print(il5)

print("-------------loc 사용--------------")
# loc 인덱서를 사용하여 네 번째 행을 출력한다.
l1 = df.loc[3]
print(l1)

# loc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다.
l2 = df.loc[0, "name"]
print(l2)

# loc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다.
l3 = df.loc[3, 'eng']
print(l3)

# loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다.
l4 = df.loc[2:3, 'eng']
print(l4)

# loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다.
l5 = df.loc[2:3, 'eng':'mat']
print(l5)

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
6  듀크7   90   90   90
5  듀크6   70   56   99
4  듀크5   60   77   88
3  듀크4   70   46   60
2  듀크3   70   97   70
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90
-------------iloc 사용--------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60
-------------loc 사용--------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60

In [123]:
df2 = df.copy()

df2 = df2.set_index(['name'])
print(df2)



print(df)
df.set_index(['name'],inplace = True) # 기존 데이터프레임에 변화를 주려고 할 때 True를 준다. 
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90
  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90